// Components - Breadcrumbs

.breadcrumbs {
    display: flex;
    align-items: center;

    &--dashboard {
        margin-bottom: 20px;
    }
    
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            color: $light;
            font-size: 14px;
            font-weight: 500;

            &:not(:last-child) {

                &:after {
                    content: "\e904";
                    font-family: 'icomoon';
                    font-size: 8px;
                    margin: 10px;
                }
            }

            a {
                color: $secondary;
            }
        }
    }
}