// Component - Popout buttons

.popout-button {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 10px;
    background-color: rgba($secondary, 0.08);
    @include radius(10px);
    @include transition();

    .icon {
        color: $secondary;
        font-size: 26px;

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }
    }

    strong {
        white-space: nowrap;
        color: $secondary;
        font-weight: 500;
        @include transition();

        @include media-breakpoint-up(md) {
            opacity: 0;
            max-width: 0;
            font-size: 18px;
        }

        @include media-breakpoint-down(sm) {
            margin-left: 8px;
            font-size: 15px;
        }
    }

    &:hover {
        background-color: #FFF;

        strong {

            @include media-breakpoint-up(md) {
                max-width: 300px;
                margin-left: 14px;
                opacity: 1;
            }
        }
    }
}


.has-right-buttons {
    position: relative;

    &__left {

        @include media-breakpoint-up(md) {
            padding-right: 100px;
        }
    }

    &__right {
        margin-bottom: 24px;

        @include media-breakpoint-up(md) {
            position: absolute;
            top: 0;
            right: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            @include media-breakpoint-down(sm) {
                display: flex;
                flex-wrap: wrap;
            }

            li {
                position: relative;
                display: flex;

                @include media-breakpoint-up(md) {
                    width: 48px;
                    height: 48px;

                    &:not(:last-child) {
                        margin-bottom: 24px;
                    }
                }

                @include media-breakpoint-down(sm) {
                    margin: 0 10px 10px 0;
                }

                .popout-button {

                    @include media-breakpoint-up(md) {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                        min-width: 48px;
                    }
                }
            }
        }
    }
}