// Section & Block - Courses

.section-courses {
    
    .btn-container {
        margin-top: 30px;
        text-align: center;
    }
}

.course {
    overflow: hidden;
    background-color: #FFF;
    box-shadow: 0 10px 40px rgba($secondary, 0.05);
    margin-bottom: 30px;
    @include radius(15px);

    &__header {
        position: relative;

        img {
            display: block;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        padding: 134px 24px 24px 24px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 0.3) 100%);

        .badge {
            color: #FFF;
            font-weight: 500;
            font-size: 14px;
            padding: 9px 16px;
            margin-right: 24px;
            @include radius(8px);

            &.badge-orange {
                background-color: #F2994A;
            }

            &.badge-green {
                background-color: #6FCF97;
            }

            &.badge-purple {
                background-color: #BB6BD9;
            }

            &.badge-purple-dark {
                background-color: #9B51E0;
            }

            &.badge-red {
                background-color: #EB5757;
            }

            &.badge-blue {
                background-color: #2F80ED;
            }
        }
    }

    &__body {
        padding: 16px;

        a {
            font-size: 16px;
            font-weight: bold;
            color: #2b2b2b;
            @include transition();

            &:hover, &:focus {
                color: $secondary;
                text-decoration: none;
            }
        }

        strong {
            font-size: 16px;
            color: #2b2b2b;
        }
    }

    &__footer {
        padding: 0 16px 24px 16px;

        .price-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .__price {
                font-size: 16px;
                font-weight: 500;
            }
        }

        &-progress {
            
            & > span {
                display: block;
                margin-bottom: 6px;
                font-size: 14px;
                font-weight: 500;
                color: #000;
                text-align: right;
            }
        }

        &-authors {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5px;
            margin: 10px 0 -10px;

            div {
                display: flex;
                align-items: center;
                font-size: 18px;
                font-weight: 500;

                .icon {
                    font-size: 20px;
                    margin-right: 8px;
                }
            }

            a {
                font-weight: 500;

                &.text-light {

                    &:hover, &:focus {
                        color: $primary !important;
                        text-decoration: none;
                    }
                }

                &.text-primary {

                    &:hover, &:focus {
                        color: $light !important;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.courses-dashboard {

    .course {

        &__header {

            img {
                height: 250px;
            }
        }

        &__info {
            padding: 134px 16px 16px 16px;

            .badge {
                height: 28px;
                padding: 8px 12px;
                margin-right: 20px;
                font-size: 12px;
                @include radius(6.5px);
            }

            .course__rating {
                margin: 6px 0;

                .rating {
                    width: 76px;
                    height: 13px;
                }

                span {
                    font-size: 10px;
                }
            }
        }

        &__body {
            padding: 12px 12px 4px 12px;
    
            a, strong {
                display: block;
                font-size: 13.25px;
                line-height: 18.5px;
            }
        }

        &__footer {
            padding: 0 12px 24px 12px;
        }
    }
}

.course-single {

    &__info {
        padding: 20px 16px 24px 16px;
        margin-bottom: 25px;
        background-color: rgba($light, 0.08);
        @include radius(10px);

        ul {
            list-style: none;
            margin-bottom: 0;
            padding: 0;

            li {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 8px;

                span {
                    font-size: 14px;

                    &:first-child {
                        margin-right: 15px;
                    }

                    &:last-child {
                        color: $secondary;
                    }
                }
            }
        }
    }

    &__menu {

        h6 {
            margin-bottom: 16px;
        }

        ul {
            list-style: none;
            margin-bottom: 25px;
            padding: 0;

            li {
                margin-bottom: 12px;

                a {
                    display: flex;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    color: $light;

                    &:hover {
                        color: $secondary;
                        text-decoration: none;
                    }

                    .icon {
                        width: 16px;
                        min-width: 16px;
                        text-align: center;
                        font-size: 13px;
                        margin: 3px 6px 0 0;
                    }
                }
            }
        }
    }

    &__content {

        img {
            
        }

        h3 {

        }

        p {
            font-size: 18px;
        }
    }
}