// Section & Block - Features

.section-features {

}

.feature {
    display: flex;
    flex-direction: column;

    .icon {
        font-size: 26px;
        color: $primary;
        margin-bottom: 20px;
    }

    strong {
        font-size: 20px;
        font-weight: 500;
        color: $secondary;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 0;
    }
}