// Section & Block - Dashboard Settings

.settings {

}

.setting {

    &:not(:last-child) {
        margin-bottom: 37px;
    }

    &__description {
        padding-right: 24px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }

        h6 {
            margin-bottom: 6px;
        }

        p {
            font-size: 14px;
            margin: 0;
        }
    }

    &__buttons {
        display: flex;

        @include media-breakpoint-up(md) {
            justify-content: flex-end;
        }
    }
}